@media screen and (max-width:767px){
.nav {
        display: none;
    }

    .contact {
        display: none;
    }
        .mobile-menu-open {
            background-color: transparent;
            border: none;
            padding: 0;
            line-height: 0;
        }
}
.header-section__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-section{
    padding-top: 16px;
    padding-bottom: 16px;
}
@media screen and (min-width:768px){
    .mobile-menu-open{
        display: none;
    }
    .nav{
        display: flex;
        align-items: center;
    }
    .nav__list{
        display: flex;
        align-items: center;
    }
    .header-section {
        padding-top: 0;
        padding-bottom: 0;
        height: 79px;
        border-bottom: 1px solid var(--border-color);
        }
    .nav__item:not(:last-child) {
        margin-right: 50px;
        }
    .nav__link {
        position: relative;
        display: block;
        padding: 32px 0;
        color: var(--black-color);

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: color var(--transition-dur-cub);
        &:hover,
        &:focus {
        color: var(--accent-text-color);
        }
}
.nav__link.current {
    color: var(--accent-text-color);

    &::after {
        content: '';

        position: absolute;
        display: block;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: var(--accent-text-color);
    }
}
.contact__link {
    // padding-bottom: 32px;
    // padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;

    transition: color var(--transition-dur-cub);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}
.contact__item:not(:last-child){
    margin-bottom: 10px;
}

.contact__icon-smartphone {
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;
}

.contact__icon-envelope {
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;
}
}

@media screen and (min-width:1200px){
.nav {
    margin-left: 93px;
}
.contact {
    display: flex;
    margin-left: auto;
}
.contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
}
.contact__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
}
}

