
.hero-section {
    padding: 118px 0;
    text-align: center;
    }
    
.overlay {
    max-height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/main-page/mob/hero-mob.jpg);
    background-color: #2f303a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (min-device-pixel-ratio:2) and (max-width:767px),
screen and (min-resolution: 192dpi) and (max-width:767px),
screen and (min-resolution: 2dppx) and (max-width:767px) {
    .overlay{
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/main-page/mob/hero-mobx2.jpg);
    }
}
    
 .hero-section__title {
     max-width: 360px;
     margin-bottom: 30px;
     margin-left: auto;
     margin-right: auto;
     color: var(--primary-white-color);
     font-weight: 900;
     font-size: 26px;
     line-height: 1.61;
     letter-spacing: 0.06em;
     text-transform: uppercase;
 }

@media screen and (min-width:768px){
    .overlay{
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/main-page/tablet/hero-tab.jpg);
   }
}

@media screen and (min-device-pixel-ratio:2) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .overlay {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/main-page/tablet/hero-tabx2.jpg);
    }
}

@media screen and (min-width:1200px){
    .hero-section {
       padding: 200px 0;
        }
    .overlay {
        max-height: 600px;
                     
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url(../images/main-page/desktop/hero-desk.jpg);
}
@media screen and (min-device-pixel-ratio:2) and (min-width:1200px),
screen and (min-resolution: 192dpi) and (min-width:1200px),
screen and (min-resolution: 2dppx) and (min-width:1200px) {
    .overlay {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/main-page/desktop/hero-deskx2.jpg);
    }
}

.hero-section__title {
    min-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

}
}
