.work {
    padding-top: 0;
}
.work-item {
    position: relative;
}

.work-overlay {
    position: absolute;
    bottom: 0;
    left: 0;

    @extend %align;

    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.work-list {
    display: flex;
    gap: 30px;
}